<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>编辑offer</h1>

<form method="POST" ACTION="/edit_offer/?id={{current_offer.id}}">
    <p>行业
        <select name="hangye_id">
            {% for row in hangye_list %}
                {% if row.id == current_offer.hangye_id %}
                    <option selected value="{{row.id}}">{{row.hy_name}}</option>
                {% else %}
                    <option value="{{row.id}}">{{row.hy_name}}</option>
                {% endif %}

            {% endfor %}
        </select>
    </p>

    <p>职能
        <select name="zhineng_id">
            {% for row in zhineng_list %}
                {% if row.id == current_offer.zhineng_id %}
                    <option selected value="{{row.id}}">{{row.zn_name}}</option>
                {% else %}
                    <option value="{{row.id}}">{{row.zn_name}}</option>
                {% endif%}
            {% endfor %}
        </select>
    </p>

    <p>部门
        <select name="bumen_id">
            {% for row in bumen_list %}
                {% if row.id == current_offer.bumen_id %}
                    <option selected value="{{row.id}}">{{row.bm_name}}</option>
                {% else %}
                    <option value="{{row.id}}">{{row.bm_name}}</option>
                {% endif %}
            {% endfor %}
        </select>
    </p>

    <p>公司<input type="text" name="company" value="{{current_offer.company}}"/></p>
    <p>职位<input type="text" name="title" value="{{current_offer.title}}"/></p>
    <p>候选人<input type="text" name="cnd_name" value="{{current_offer.cnd_name}}"/></p>
    <p>客户offer<input type="text" name="client_offer" value="{{current_offer.client_offer}}"/></p>

    <p>团队offer<input type="text" name="team_offer" value="{{current_offer.team_offer}}"/></p>
    <p>客户owner<input type="text" name="client_owner" value="{{current_offer.client_owner}}"/></p>
    <p>con_window<input type="text" name="contact_window" value="{{current_offer.contact_window}}"/></p>
    <p>offer_owner<input type="text" name="offer_owner" value="{{current_offer.offer_owner}}"/></p>
    <input type="submit" value="提交" />
</form>

</body>
</html>